# Ignore CSV files
*.csv
course_similarity/data/

# Ignore XLSX files
*.xlsx
course_similarity/*.xlsx
course_similarity/Data/*.xlsx

# Ignore PKL files
*.pkl
course_similarity/*.pkl
course_similarity/Data/*.pkl
recommender/atlas/

# Ignore env files
*.env
umgpt_recommender/*.env

# Diagram files
EmbRecommenderDiagram.drawio
KeywordRecommenderDiagram.drawio